---
import Section from "./Section.astro";
import GithubLink from "@/components/GitHubLink.astro";
import {
  Card,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { Badge } from "@/components/ui/badge";

interface Props {
  data: {
    icon: string;
    title: string;
    description: string;
    items: {
      title: string;
      description: string;
      githubRepo?: {
        profileName: string;
        repoName: string;
      };
      tags: {
        name: string;
        variant: string;
      }[];
    }[];
  };
}

const { data } = Astro.props;
---

<Section icon={data.icon} title={data.title} description={data.description}>
  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4 mt-3">
    {
      data.items.map((item) => (
        <Card>
          <CardHeader>
            {item.githubRepo && (
              <GithubLink
                profileName={item.githubRepo.profileName}
                projectName={item.githubRepo.repoName}
              />
            )}
            <CardTitle>{item.title}</CardTitle>
            <CardDescription>{item.description}</CardDescription>
          </CardHeader>
          <CardFooter className="flex flex-wrap gap-2">
            {item.tags.map((tag) => (
              <Badge variant={tag.variant}>{tag.name}</Badge>  <!-- Usa il variant qui -->
            ))}
          </CardFooter>
        </Card>
      ))
    }
  </div>
</Section>
